img {
    width: 100%;
}
.body-content{
    background-image: url(../image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.my-container {
    height: 100vh;
    position: relative;
}

.my-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 10px;
}
.title {
    display: inline-block;
}
.header-content {
    display: inline-block;
    align-items: center;
    position: relative;
}
.about-me-border {
    display: inline-block;
    width: 50%;
    height: 2px;
    background-color: red;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

.my-photo-container {
    margin-bottom: 10px;
}

.my-photo {
    width: 200px;
    height: 200px;
    background-image: url('../image/jugal.jpg');
    background-size: cover;
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position: center; */
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
}

.personal-details {
    text-align: center;
    margin-bottom: 10px;
}
.social-links>a {
    color: black;
    text-decoration: none;
    margin: 0px 5px;
}
.social-links>a:hover{
    text-decoration: none;
}
.social-links>a>i {
    font-size: 24px;
    font-weight: 600;
}

.social-details {
    margin-bottom: 10px;
}


